<h1>Available Games</h1>

<ul>
  <% @games.each do |game| %>
    <li>
      <%= link_to "#{game.groupname}", game_path(game) %>
      <% if signed_in? %>
        <%= link_to "edit room", edit_game_path(game) %>
        <%= form_for game, method: 'delete' do |f| %>
          <%= f.submit "destroy room" %>
        <% end %>
        <%= form_for([game, @membership]) do |f| %>
          <%= f.submit "join room" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<!--Test this -->
<% if signed_in? %>
  <%= link_to "create room", new_game_path %>
<% end %>
