<h1>Create A Room</h1>

<%= form_for @game do |f| %>
  <%= f.label :groupname %>
  <%= f.text_field :groupname, id: :groupname %>

  <%= f.label :max_members %>
  <%= f.select :max_members, options_for_select([['2', 2],['3',3],['4',4]]), {}, id: :max_members %>

  <%= f.label :is_public %>
  <%= f.check_box :is_public, id: :is_public %>

  <%= f.submit 'Submit', id: 'submit' %>
<% end %>
