<% if signed_in? %>

  <%= form_for :session, url: signout_path, method: 'delete' do |f| %>
    <li>Hello, <%= link_to current_user.name, current_user %></li>
    <%= f.submit "Sign out", id:'sign out' %>
  <% end %>


<% else %>

  <li><%= link_to "Sign in", signin_path %></li>
  <li><%= link_to "Sign up", signup_path %></li>

<% end %>
